__pycache__/sitioAdministrador.cpython-310.pyc
__pycache__/sitioEmpleado.cpython-310.pyc
__pycache__/sitioJefe.cpython-310.pyc
__pycache__/sitioRecursosHumanos.cpython-310.pyc
__pycache__/sql_conn.cpython-310.pyc
